DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cambia-esto-por-un-secreto-largo"
VENDOR_EMAIL="vendedor@ejemplo.com"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="tu_correo@gmail.com"
SMTP_PASS="tu_app_password"
SMTP_FROM="Verdulería <tu_correo@gmail.com>"
